body button{
    display: flex;
    flex-direction: column;
    top: 34%;
}

body {
    display: flexbox;
    position: fixed;
    margin-right: 45px;
    top: 45%;
    background-color: #FDEFDE;
}

button {
    border-radius: 12px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

button:hover {
    cursor: pointer;
    background-color: lime;
}